<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="zend-stdlib Test Suite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <php>
        <!-- OB_ENABLED should be enabled for some tests to check if all
             functionality works as expected. Such tests include those for
             Zend\Soap and Zend\Session, which require that headers not be sent
             in order to work. -->
        <env name="TESTS_ZEND_OB_ENABLED" value="false" />
    </php>
</phpunit>
